body{
  font-family: sans-serif;
  font-size: 16px;
}
.converterBox{
  padding: 36px;
  padding-top: 12px;
  background-color: rgb(10, 198, 204);
  text-align: center;
}
h1{
  text-align: center;
}
strong{
  padding:12px;
}
.frh, .cls{
  display: inline-block;
}
.label{
  text-align: left;
  text-transform: uppercase;
  font-weight:500;
}
p{
  text-align: center;
}
